fastapi
uvicorn[standard]
torch==2.3.1 --index-url https://download.pytorch.org/whl/cu118
torchaudio==2.3.1 --index-url https://download.pytorch.org/whl/cu118
-e git+https://github.com/m-bain/whisperx.git#egg=whisperx
python-dotenv
python-multipart